<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>ZZSignInVC</string>
		<key>Description</key>
		<string>每日签到</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZFundRecordVC</string>
		<key>Description</key>
		<string>我的虚拟币记录</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZFlipAnimatoinViewController</string>
		<key>Description</key>
		<string>旋转动画</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZTFViewController</string>
		<key>Description</key>
		<string>动态输入框</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZPayWayVC</string>
		<key>Description</key>
		<string>绑定支付方式列表</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZAddPayPasswdVC</string>
		<key>Description</key>
		<string>设置支付密码</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZPayPasswdSettingVC</string>
		<key>Description</key>
		<string>自定义密码输入框</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZResetPayPasswdVC</string>
		<key>Description</key>
		<string>修改支付密码</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ZZMoneyRecordVC</string>
		<key>Description</key>
		<string>我的钱包</string>
	</dict>
</array>
</plist>
